{% extends "base.html.twig" %}
{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}

{% block top %}
    <div class="container">
        <!-- titre -->
        <div class="text-center">
            <h1>Gestion des playlists</h1>
        </div>
    </div>
{% endblock %}

{% block body %}
    <h2>Nouvelle Playlist</h2>
        {{ form_start(formPlaylist) }}
    
        {{ form_end(formPlaylist) }}
{% endblock %}{# empty Twig template #}
{# empty Twig template #}
